body {
  font-family: DM Sans, sans-serif;
  font-size: 16px;
  letter-spacing: 0.04em;
  width: 100%;
  min-width: 100%;
  overflow-x: hidden;

  color: getColor('textColor');
  background-color: getColor('whiteColor');
}
