$colors: (
  // text
  'accent-text-color': #d41443,
  'primary-text-color': #ffffff,
  'secondary-text-color': #ffa5ba,
  'text-color': #000000,
  'other-text-color': #907e82,
  // background
  'primary-background-color': #fff5f6,
  'accent-background-color': #ffb8ca,
  'other-background-color1': #e17992,
  'other-background-color2': #f0d1a5,
  'other-background-color3': #c2e297,
  'white-color': #ffffff,
  'btn-hover': #ecebeb
);
@function getColor($key) {
  @return map-get($colors, $key);
}
//color: getColor('textColor');

// breakpoints
$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;
