<section class="about" id="made">
  <div class="container about__container">
    <p class="about__label">Tradition and love</p>
    <h2 class="about__title">How it’s made?</h2>
    <div class="about__wrap">
      <p class="about__topic">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
        aecenas eleifend erat at justo fringilla.
      </p>
      <p class="about__description">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
        Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
      </p>
      <p class="about__description about__description--short">
        Aliquam erat volutpat. Aenean accumsan.
      </p>
      <button class="button-about" type="button">
        Read more
        <svg width="10" height="10" class="button-about__icon">
          <use href=./images/icons/icons.svg#read-more-icon></use>
        </svg>
      </button>
    </div>
  </div>
</section>