<section class="footer">
    <div class="container">
        <div class="footer-title">
            <h3 class="footer-title_first">homemade ice cream <br class="footer-title_indent"> made</h3>
            <h2 class="footer-title_second">with <br class="footer-title_indent"> passion</h2>
        </div>
        <nav class="footer-nav">
            <div class="footer-nav_socials">
                <a href="https://github.com/">
                <svg class="social-icon" width="32" height="32"> 
                    <use href="./images/icons/icons.svg#github-icon"></use>
                </svg>
                </a>
                <a href="https://web.telegram.org/z/">
                <svg class="social-icon" width="32" height="32">
                    <use href="./images/icons/icons.svg#telegram-icon"></use>
                </svg>
                </a>
                <a href="https://www.facebook.com/">
                <svg class="social-icon" width="32" height="32">
                    <use href="./images/icons/icons.svg#facebook-icon"></use>
                </svg>
                </a>
            </div>
            <p class="footer-nav_phone">Feel free to contact &#32;
            <a class="phone-link" href="tel:+61(0)383766284">+61 (0) 383 766 284</a>
            </p>
        </nav>
    </div>
    <p class="footer_copyright">© 2019 - IceCream. <br class="footer_copyright--indent"> All Rights Reserved. </p>
</section>