<section class="contact__section" id="contact">
  <div class="contacts__container container">
     <h2 class="visually-hidden">Locations</h2>
    <ul class="list contacts__list">
      <li class="contacts__box">
        <p class="contacts__title">CAFE</p>
        <p class="contacts__city">Chicago</p>
        <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class="contacts__dash"> </div>
        <p class="contacts__days">Monday - Friday</p>
        <p class="contacts__days contacts__hours">06:00 AM - 10:00 PM</p>
        <p class="contacts__days">Saturday - Sunday</p>
        <p class="contacts__days contacts__hours">08:00 AM - 16:00 PM</p>
        <div class="contacts__dash"> </div>
        <ul class="contacts__link">
          <li><a href="tel:+610383766284" class="contacts__link">+61(0) 383 766 284</a></li>
          <li>
            <a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="contacts__box">
        <p class="contacts__title contacts__title--foodtruck">FOODTRUCK</p>
        <p class="contacts__city">Los Angeles</p>
        <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class="contacts__dash"> </div>
        <p class="contacts__days">Monday - Friday</p>
        <p class="contacts__days contacts__hours">06:00 AM - 10:00 PM</p>
        <p class="contacts__days">Saturday - Sunday</p>
        <p class="contacts__days contacts__hours">08:00 AM - 16:00 PM</p>
        <div class="contacts__dash"> </div>
        <ul class="list">
          <li><a href="tel:+610383766284" class="contacts__link">+61(0) 383 766 284</a></li>
          <li>
            <a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="contacts__box">
        <p class="contacts__title">CAFE</p>
        <p class="contacts__city">New York</p>
        <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class="contacts__dash">  </div>
        <p class="contacts__days">Monday - Friday</p>
        <p class="contacts__days contacts__hours">06:00 AM - 10:00 PM</p>
        <p class="contacts__days">Saturday - Sunday</p>
        <p class="contacts__days contacts__hours">08:00 AM - 16:00 PM</p>
        <div class="contacts__dash"> </div>
        <ul class="list">
          <li><a href="tel:+610383766284" class="contacts__link">+61(0) 383 766 284</a></li>
          <li>
            <a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a>
          </li>
        </ul>
      </li>
    </ul>
  
  <ul class="contact__button">
    <li>
      <button class="contact__button--location" type="button">
        Our Locations
        <svg class="contact__button--icon" width="10" height="10">
          <use href="./images/icons/icons.svg#read-more-icon"></use>
        </svg>
      </button>
    </li>
    <li>
      <button class="contact__button--lang" type="button" fr-open>
        Franchise
        <svg class="contact__button--icon" width="10" height="10">
          <use href="./images/icons/icons.svg#read-more-icon"></use>
        </svg>
      </button>
    </li>
  </ul>
</div>
</section>
<section>
  <div class="backdrop is-hidden" data-fr-open>
    <div class="modal">
      <form class="request-form" name="request-form" >
        <p class="request-form__title">Wanna Party Franchise Opportunity?</p>
        <p class="request-form__description">For more information on IceCream's franchise opportunities,
          please send us an email with a brief description of your
        background and your territory of interest to 
        <a href="mailto:noreply@envato.com" class="contacts__link__fr">noreply@envato.com</a>
       </br>  or</p>
        <p class="request-form__description">Leave your contact details and we will call you back</p>
        <label class="request-form__field">
          <span class="request-form__label">Name</span>
          <input class="request-form__input" type="text" name="name">
          <svg width="18" height="18" class="request-form__icon">
            <use href=./images/icons/icons.svg#icon-name></use>
          </svg>
        </label>
        <label class="request-form__field">
          <span class="request-form__label">Phone</span>
          <input class="request-form__input" type="tel" name="tel">
          <svg width="18" height="18" class="request-form__icon">
            <use href=./images/icons/icons.svg#icon-tel></use>
          </svg>
        </label>
        <label class="request-form__field">
          <span class="request-form__label">E-mail</span>
          <input class="request-form__input" type="email" name="email">
          <svg width="18" height="18" class="request-form__icon">
            <use href=./images/icons/icons.svg#icon-email></use>
          </svg>
        </label>
        <label class="request-form__field">
          <span class="request-form__label">Comment</span>
          <textarea class="request-form__textarea" name="comment"
            placeholder="Please send us a brief description of your background and your territory of interest"></textarea>
        </label>
        <div class="request-form__agreement">
          <label class="request-form__text">
            <input class="request-form__checkbox" type="checkbox" name="checkbox">
            <svg width="16" height="15" class="request-form__check-icon">
              <use href=./images/icons/icons.svg#icon-check></use>
            </svg>
            I argree to the
          </label>
          <a class="request-form__link" href=""> Policy agreement</a>
        </div>
        <div class="request-form__submit">
          <button class="button-submit" type="submit">Submit</button>
        </div>
        <button class="button-close" type="button" data-fr-close>
          <svg width="18" height="18" class="icon">
            <use href=./images/icons/icons.svg#icon-close></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
</section>
