<section class="customer-reviews">
    <div class="container">
        <div class="slider">
            <div class="slides"></div>
                <input type="radio" name="r" class="slider__input" id="r1" checked>
                <input type="radio" name="r" class="slider__input" id="r2">
                <input type="radio" name="r" class="slider__input" id="r3">
                
                <div class="slide s1">
                    <div class="slide__photo"> 
                        <picture >
                            <source 
                            srcset="./images/desktop/comments/first-comment.png, 
                            ./images/desktop/comments/first-comment-x2.png">
                        </picture>
                        <img src="./images/desktop/comments/first-comment.png" alt="">
                    </div>
                    <div class="slide__comment">
                        <div class="slide__gradient">
                            <p class="slide__text">Nullam viverra consectetuer. 
                                Quisque cursus et, porttitor risus. 
                                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. 
                                Lorem ipsum primis in nibh vel risus.
                            </p>
                        </div>
                    </div>
                    <div class="slide__name"> 
                        <p>Emily, Los Angeles</p>
                    </div>
                </div>
                <div class="slide s2">
                    <div class="slide__photo"> 
                        <picture >
                            <source 
                            srcset="./images/desktop/comments/first-comment.png, 
                            ./images/desktop/comments/first-comment-x2.png">
                        </picture>
                        <img src="./images/desktop/comments/second-comment.png" alt="">
                    </div>
                    <div class="slide__comment">
                        <div class="slide__gradient">
                            <p class="slide__text">Nullam viverra consectetuer. 
                                Quisque cursus et, porttitor risus. 
                                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. 
                                Lorem ipsum primis in nibh vel risus.
                            </p>
                        </div>
                    </div>
                    <div class="slide__name"> 
                        <p>Emily, Los Angeles</p>
                    </div>
                </div> 
                <div class="slide s3">
                    <div class="slide__photo"> 
                        <picture >
                            <source 
                            srcset="./images/desktop/comments/first-comment.png, 
                            ./images/desktop/comments/first-comment-x2.png">
                        </picture>
                        <img src="./images/desktop/comments/third-comment.png" alt="">
                    </div>
                    <div class="slide__comment"> 
                            <div class="slide__gradient">
                                <p class="slide__text">Nullam viverra consectetuer. 
                                    Quisque cursus et, porttitor risus. 
                                    Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. 
                                    Lorem ipsum primis in nibh vel risus.
                                </p>
                            </div>
                        </div>
                    <div class="slide__name">
                        <p>Emily, Los Angeles</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider__switch">
            <label for="r1"  class="dot">
                <svg width="13" height="12">
                    <use href="./images/icons/icons.svg#icon-home" ></use>
                </svg>
            </label>
            <label for="r2" class="dot">
                <svg width="12" height="12">
                    <use href="./images/icons/icons.svg#icon-ellipse" ></use>
                </svg>
            </label>
            <label for="r3" class="dot">
                <svg width="12" height="12">
                    <use href="./images/icons/icons.svg#icon-ellipse" ></use>
                </svg>
            </label>
        </div>
    </div>
</section>