<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <form class="request-form" name="request-form" data-open>
      <p class="request-form__title">WANNA TASTE OUR GREAT ICE-CREAM?</p>
      <p class="request-form__description">Leave your contact details and we will call you back</p>
      <label class="request-form__field">
        <span class="request-form__label">Name</span>
        <input class="request-form__input" type="text" name="name">
        <svg width="18" height="18" class="request-form__icon">
          <use href=./images/icons/icons.svg#icon-name></use>
        </svg>
      </label>
      <label class="request-form__field">
        <span class="request-form__label">Phone</span>
        <input class="request-form__input" type="tel" name="tel">
        <svg width="18" height="18" class="request-form__icon">
          <use href=./images/icons/icons.svg#icon-tel></use>
        </svg>
      </label>
      <label class="request-form__field">
        <span class="request-form__label">E-mail</span>
        <input class="request-form__input" type="email" name="email">
        <svg width="18" height="18" class="request-form__icon">
          <use href=./images/icons/icons.svg#icon-email></use>
        </svg>
      </label>
      <label class="request-form__field">
        <span class="request-form__label">Comment</span>
        <textarea class="request-form__textarea"
        name="comment"
        placeholder="Do you want to let us know something?"></textarea>
      </label>
      <div class="request-form__agreement">
        <label class="request-form__text">
          <input class="request-form__checkbox" type="checkbox" name="checkbox">
          <svg width="16" height="15" class="request-form__check-icon">
            <use href=./images/icons/icons.svg#icon-check></use>
          </svg>
          I argree to the
        </label>
        <a class="request-form__link" href=""> Policy agreement</a>
      </div>
      <div class="request-form__submit">
        <button class="button-submit" type="submit">Submit</button>
      </div>
      <button class="button-close" type="button" data-modal-close >
        <svg width="18" height="18" class="icon">
          <use href=./images/icons/icons.svg#icon-close></use>
        </svg>
      </button>
    </form>
  </div>
</div>