<section class="gallery">
  <div class="container">
    <h2>gallery</h2>
    <ul class="gallery__list">
      <li class="gallery__item gallery__item--first">
        <picture>
          <source 
            srcset="
              ./images/desktop/gallery/gallery1.jpg 1x, 
              ./images/desktop/gallery/gallery1-x2.jpg 2x"
            media="(min-width: 1200px)">
          <source 
            srcset="
              ./images/tablet/gallery/gallery1.jpg 1x, 
              ./images/tablet/gallery/gallery1-x2.jpg 2x"
            media="(min-width: 768px)">
          <source 
            srcset="
                ./images/mobile/gallery/gallery1.jpg 1x, 
                ./images/mobile/gallery/gallery1-x2.jpg 2x"
            media="(max-width: 767px)">
          <img class="gallery__img"
            src="./images/tablet/gallery/gallery1.jpg"
            alt="Image ice cream">
        </picture>
      </li>
      <li class="gallery__item gallery__item--second">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/gallery2.jpg 1x, 
              ./images/desktop/gallery/gallery2-x2.jpg 2x"
          media="(min-width: 1200px)">
          <source
            srcset="
              ./images/tablet/gallery/gallery2.jpg 1x, 
              ./images/tablet/gallery/gallery2-x2.jpg 2x"
          media="(min-width: 768px)">
          <source
            srcset="
              ./images/mobile/gallery/gallery2.jpg 1x, 
              ./images/mobile/gallery/gallery2-x2.jpg 2x"
            media="(max-width: 767px)">
          <img class="gallery__img"
            src="./images/tablet/gallery/gallery2.jpg"
            alt="Image ice cream">
        </picture>
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/gallery3.jpg 1x, 
              ./images/desktop/gallery/gallery3-x2.jpg 2x"
            media="(min-width: 1200px)">
          <source
            srcset="
              ./images/tablet/gallery/gallery3.jpg 1x, 
              ./images/tablet/gallery/gallery3-x2.jpg 2x"
            media="(min-width: 768px)">
          <source
            srcset="
              ./images/mobile/gallery/gallery3.jpg 1x, 
              ./images/mobile/gallery/gallery3-x2.jpg 2x"
            media="(max-width: 767px)">
          <img class="gallery__img"
            src="./images/tablet/gallery/gallery3.jpg"
            alt="Image ice cream">
        </picture>
      </li>
      <li class="gallery__item gallery__item--third">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/gallery4.jpg 1x, 
              ./images/desktop/gallery/gallery4-x2.jpg 2x"
            media="(min-width: 1200px)">
          <source
            srcset="
              ./images/tablet/gallery/gallery4.jpg 1x, 
              ./images/tablet/gallery/gallery4-x2.jpg 2x"
            media="(min-width: 768px)">
          <source
            srcset="
              ./images/mobile/gallery/gallery4.jpg 1x, 
              ./images/mobile/gallery/gallery4-x2.jpg 2x"
            media="(max-width: 767px)">
          <img class="gallery__img"
            src="./images/tablet/gallery/gallery4.jpg"
            alt="Image ice cream">
        </picture>
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/gallery5.jpg 1x, 
              ./images/desktop/gallery/gallery5-x2.jpg 2x"
              media="(min-width: 1200px)">
          <source
            srcset="
              ./images/tablet/gallery/gallery5.jpg 1x, 
              ./images/tablet/gallery/gallery5-x2.jpg 2x"
              media="(min-width: 768px)">
          <source
            srcset="
              ./images/mobile/gallery/gallery5.jpg 1x, 
              ./images/mobile/gallery/gallery5-x2.jpg 2x"
              media="(max-width: 767px)">
          <img class="gallery__img"
            src="./images/tablet/gallery/gallery5.jpg"
            alt="Image ice cream">
        </picture>
      </li>
      <li class="gallery__item gallery__item--fourth">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/gallery6.jpg 1x, 
              ./images/desktop/gallery/gallery6-x2.jpg 2x"
            media="(min-width: 1200px)">
          <source
            srcset="
              ./images/tablet/gallery/gallery6.jpg 1x, 
              ./images/tablet/gallery/gallery6-x2.jpg 2x"
            media="(min-width: 768px)">
          <source
            srcset="
              ./images/mobile/gallery/gallery6.jpg 1x, 
              ./images/mobile/gallery/gallery6-x2.jpg 2x"
            media="(max-width: 767px)">
          <img class="gallery__img"
            src="./images/tablet/gallery/gallery6.jpg"
            alt="Image ice cream">
        </picture>
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/gallery7.jpg 1x, 
              ./images/desktop/gallery/gallery7-x2.jpg 2x"
            media="(min-width: 1200px)">
          <source
            srcset="
              ./images/tablet/gallery/gallery7.jpg 1x, 
              ./images/tablet/gallery/gallery7-x2.jpg 2x"
            media="(min-width: 768px)">
          <source
            srcset="
              ./images/mobile/gallery/gallery7.jpg 1x, 
              ./images/mobile/gallery/gallery7-x2.jpg 2x"
            media="(max-width: 767px)">
          <img class="gallery__img"
            src="./images/tablet/gallery/gallery7.jpg"
            alt="Image ice cream">
        </picture>
      </li>
      <li class="gallery__item gallery__item--fifth">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/gallery8.jpg 1x, 
              ./images/desktop/gallery/gallery8-x2.jpg 2x" 
            media="(min-width: 1200px)">
          <source
            srcset="
              ./images/tablet/gallery/gallery8.jpg 1x, 
              ./images/tablet/gallery/gallery8-x2.jpg 2x" 
            media="(min-width: 768px)">
          <source
            srcset="
              ./images/mobile/gallery/gallery8.jpg 1x, 
              ./images/mobile/gallery/gallery8-x2.jpg 2x" 
            media="(max-width: 767px)">
          <img class="gallery__img"
            src="./images/tablet/gallery/gallery8.jpg"
            alt="Image ice cream">
        </picture>
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/gallery9.jpg 1x, 
              ./images/desktop/gallery/gallery9-x2.jpg 2x" 
            media="(min-width: 1200px)">
          <source
            srcset="
              ./images/tablet/gallery/gallery9.jpg 1x, 
              ./images/tablet/gallery/gallery9-x2.jpg 2x" 
            media="(min-width: 768px)">
          <source
            srcset="
              ./images/mobile/gallery/gallery9.jpg 1x, 
              ./images/mobile/gallery/gallery9-x2.jpg 2x" 
            media="(max-width: 767px)">
          <img class="gallery__img"
            src="./images/tablet/gallery/gallery9.jpg"
            alt="Image ice cream">
        </picture>
      </li>
      <li class="gallery__item gallery__item--first">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/gallery10.jpg 1x, 
              ./images/desktop/gallery/gallery10-x2.jpg 2x"
            media="(min-width: 1200px)">
          <source
            srcset="
              ./images/tablet/gallery/gallery10.jpg 1x, 
              ./images/tablet/gallery/gallery10-x2.jpg 2x"
            media="(min-width: 768px)">
          <source
            srcset="
                ./images/mobile/gallery/gallery10.jpg 1x, 
                ./images/mobile/gallery/gallery10-x2.jpg 2x"
            media="(max-width: 767px)">
          <img class="gallery__img"
            src="./images/tablet/gallery/gallery10.jpg"
            alt="Image ice cream">
        </picture>
      </li>
    </ul>
  </div>
</section>