<section class="footer">
  <h2 class="visually-hidden">Footer section</h2>
  <div class="container">
    <div class="footer-title">
      <p class="footer-title__first">
        homemade ice cream <br class="footer-title__indent" />
        made
      </p>
      <p class="footer-title__second">
        with <br class="footer-title__indent" />
        passion
      </p>
    </div>
    <nav class="footer-nav">
      <div class="footer-nav__socials">
        <a class="social-link" href="https://github.com/" rel="noopener noreferrer">
          <svg class="social-icon" width="32" height="32">
            <use href="./images/icons/icons.svg#github-icon"></use>
          </svg>
        </a>
        <a class="social-link" href="https://web.telegram.org/z/" rel="noopener noreferrer">
          <svg class="social-icon" width="32" height="32">
            <use href="./images/icons/icons.svg#telegram-icon"></use>
          </svg>
        </a>
        <a class="social-link" href="https://www.facebook.com/" rel="noopener noreferrer">
          <svg class="social-icon" width="32" height="32">
            <use href="./images/icons/icons.svg#facebook-icon"></use>
          </svg>
        </a>
      </div>
      <p class="footer-nav__phone">
        Feel free to contact &#32;
        <a class="phone-link" href="tel:+61(0)383766284">+61 (0) 383 766 284</a>
      </p>
    </nav>
  </div>
  <p class="footer__copyright">
    © 2019 - IceCream. <br class="footer__copyright--indent" />
    All Rights Reserved.
  </p>
</section>
