<!-- Модальні вікна карточок продуктів -->
<div class="backdrop is-hidden" data-modal1>
    <div class="modal modal1">
        <h3 class="products-list__card-title">ice cream</h3>
        <p class="products-list__text products-list__text--modal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, vero animi vitae
        dolor nam provident consectetur non, amet, ratione aliquid rerum fugiat! Iusto quibusdam sint, quisquam dolorem
        at eveniet dolore culpa molestias hic dolorum veniam animi quidem unde architecto illo eius sequi nemo fugit
        alias eaque eos! Velit enim eum repellendus amet reiciendis! Laudantium quae natus repudiandae soluta fugiat
        odio obcaecati. Eum mollitia accusantium velit consequuntur quidem corrupti, saepe at qui in perferendis autem
        odit earum, blanditiis amet quaerat assumenda?
        </p>
        <button data-modal1-close class="button-close" type="button">
            <svg width="18" height="18" class="icon">
                <use href=./images/icons/icons.svg#icon-close></use>
            </svg>
        </button>
    </div>
</div>
<div class="backdrop is-hidden" data-modal2 >
    <div class="modal modal2">
        <h3 class="products-list__card-title">ice coffee</h3>
        <p class="products-list__text products-list__text--modal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, vero animi vitae
            dolor nam provident consectetur non, amet, ratione aliquid rerum fugiat! Iusto quibusdam sint, quisquam dolorem
            at eveniet dolore culpa molestias hic dolorum veniam animi quidem unde architecto illo eius sequi nemo fugit
            alias eaque eos! Velit enim eum repellendus amet reiciendis! Laudantium quae natus repudiandae soluta fugiat
            odio obcaecati. Eum mollitia accusantium velit consequuntur quidem corrupti, saepe at qui in perferendis autem
            odit earum, blanditiis amet quaerat assumenda?</p>
        <button data-modal2-close class="button-close" type="button">
            <svg width="18" height="18" class="icon">
                <use href=./images/icons/icons.svg#icon-close></use>
            </svg>
        </button>
    </div>
</div>
<div class="backdrop is-hidden" data-modal3>
    <div class="modal modal3">
        <h3 class="products-list__card-title">milkshakes</h3>
        <p class="products-list__text products-list__text--modal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, vero animi vitae
            dolor nam provident consectetur non, amet, ratione aliquid rerum fugiat! Iusto quibusdam sint, quisquam dolorem
            at eveniet dolore culpa molestias hic dolorum veniam animi quidem unde architecto illo eius sequi nemo fugit
            alias eaque eos! Velit enim eum repellendus amet reiciendis! Laudantium quae natus repudiandae soluta fugiat
            odio obcaecati. Eum mollitia accusantium velit consequuntur quidem corrupti, saepe at qui in perferendis autem
            odit earum, blanditiis amet quaerat assumenda?</p>
        <button data-modal3-close class="button-close" type="button">
            <svg width="18" height="18" class="icon">
                <use href=./images/icons/icons.svg#icon-close></use>
            </svg>
        </button>
    </div>
</div>