<!-- Секция Products -->
<section class="products">
    <div class="container">
    <p class="container__section-pretitle">100% natural</p>
    <h2 class="container__section-title">products</h2>
    <ul class="products-list">
        <li class="products-list__item">
            <h3 class="products-list__title">ice cream</h3>
            <p class="products-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <button type="button" class="products-list__button">
                <img src="./images/icons/arrow-right.png" alt="arrow-right" width="40" height="40">
                <!-- <svg class="products-list__icon" width="40" height="40">
                    <use href="./images/icons/icons.svg#arrow-right-icon">
                    </use>
                    </svg> -->
            </button>
        </li>
        <li class="products-list__item">
            <h3 class="products-list__title">ice coffee</h3>
            <p class="products-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
            aliqua facilisis.</p>
            <button type="button" class="products-list__button">
                <img src="./images/icons/arrow-right.png" alt="arrow-right" width="40" height="40">
                <!-- <svg class="products-list__icon" width="40" height="40">
                    <use href="./images/icons/icons.svg#arrow-right-icon">
                    </use>
                </svg> -->
            </button>
        </li>
        <li class="products-list__item">
            <h3 class="products-list__title">milkshakes</h3>
            <p class="products-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
            aliqua facilisis.</p>
            <button type="button" class="products-list__button">
                <img src="./images/icons/arrow-right.png" alt="arrow-right" width="40" height="40">
                <!-- <svg class="products-list__icon" width="40" height="40">
                    <use href="./images/icons/icons.svg#arrow-right-icon">
                    </use>
                </svg> -->
            </button>
        </li>
    </ul>
    </div>
</section>