<section>
    <div>
            <p class="call subscribe-form__call">Подпишитесь на рассылку</p>
            <form action="javascript:void(0);">
                    <div class="subscribe-field">
                    <label>
                    <input type="email" placeholder="E-mail" class="subscribe-field__form-input">
                    </label>
                    <button type="submit" class="main-button subscribe-field__main-button">Подписаться
                        </button>
                    </div>
</section>