.button-about {
  display: inline-block;
  justify-content: center;
  align-items: center;
  height: 44px;
  min-width: 176px;
  padding: 10px;

  font-weight: 700;
  @include font-line(16px, 1.313);
  color: getColor('accent-text-color');

  cursor: pointer;
  background-color: getColor('white-color');
  border-color: transparent;
  border-radius: 22px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: getColor('btn-hover');
  }
  &__icon {
    margin-left: 13px;
  }
}
