.scroll {
  position: fixed;
  bottom: 0;
  right: 0;
  transform: rotate(-90deg) translate(30%, -30%);
  display: block;
  text-align: center;
  width: 40px;
  height: 40px;

  border-radius: 50%;
  border-color: transparent;

  background-color: getColor('secondary-text-color');
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: getColor('btn-hover');
    box-shadow: none;
  }
  &:hover &__icon,
  &:focus &__icon {
    stroke: getColor('accent-text-color');
  }
  &__icon {
    stroke: getColor('white-color');
  }
}
