.modal1 {
  background-color: getColor('accent-background-color');
  background-image: none;
}
.modal2 {
  background-color: getColor('other-background-color2');
  background-image: none;
}
.modal3 {
  background-color: getColor('other-background-color3');
  background-image: none;
}
