.about {
  padding-top: 125px;
  padding-bottom: 39px;
  text-align: center;
  background-color: getColor('primary-background-color');
  @media screen and (max-width: 767px) {
    background-image: url(../images/mobile/about/background-milk-left.png),
      url(../images/mobile/about/background-milk-right.png);
    background-repeat: no-repeat;
    background-position: left 770px, right 770px;
    background-size: 42px, 68px;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      & {
        background-image: url(../images/mobile/about/background-milk-left-x2.png),
          url(../images/mobile/about/background-milk-right-x2.png);
      }
    }
  }
  @media screen and (min-width: $tablet) and (max-width: 1279px) {
    padding-top: 130px;
    padding-bottom: 66px;
  }
  @media screen and (min-width: $desktop) {
    background-image: url(../images/desktop/about/background-milk-left.png),
      url(../images/desktop/about/background-milk-right.png);
    background-repeat: no-repeat;
    background-position: left 342px, right 386px;
    background-size: 161px, 270px;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      & {
        background-image: url(../images/desktop/about/background-milk-left-x2.png),
          url(../images/desktop/about/background-milk-right-x2.png);
      }
    }
  }

  &__container {
    background-image: url(../images/mobile/about/milk-and-cow.png);
    background-repeat: no-repeat;
    background-position: 50% 138px;
    background-size: 280px;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      & {
        background-image: url(../images/mobile/about/milk-and-cow-x2.png);
      }
    }
    @media screen and (min-width: $tablet) {
      background-image: url(../images/tablet/about/milk-and-cow.png);
      background-repeat: no-repeat;
      background-position: 39px 151px;
      background-size: 340px;
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        & {
          background-image: url(../images/tablet/about/milk-and-cow-x2.png);
        }
      }
    }
    @media screen and (min-width: $desktop) {
      padding-right: 117px;
      padding-bottom: 107px;
      background-image: url(../images/desktop/about/milk-and-cow.png);
      background-repeat: no-repeat;
      background-position: 112px 170px;
      background-size: 516px;
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        & {
          background-image: url(../images/desktop/about/milk-and-cow-x2.png);
        }
      }
    }
  }
  &__container__section-pretitle {
    font-family: Titan One, sans-serif;
    @include font-letter(18px, 1.145, inherit);
    text-transform: uppercase;
    color: getColor('secondary-text-color');

    @media screen and (min-width: $tablet) {
      @include font-letter(26px, 1.145, inherit);
    }
    @media screen and (min-width: $desktop) {
      @include font-letter(30px, 1.133, inherit);
    }
  }
  &__container__section-title {
    margin-bottom: 351px;

    font-family: Titan One, sans-serif;
    @include font-letter(34px, 1.147, 0.04em);
    text-transform: uppercase;
    color: getColor('accent-text-color');

    @media screen and (min-width: $tablet) {
      margin-bottom: 100px;
      @include font-letter(48px, 1.146, 0.04em);
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 106px;
      @include font-letter(58px, 1.138, 0.06em);
    }
  }
  &__wrap {
    margin-left: auto;
    margin-right: auto;
    text-align: left;

    width: 220px;
    @media screen and (min-width: $tablet) {
      margin-left: auto;
      margin-right: 0;
      width: 340px;
    }
    @media screen and (min-width: $desktop) {
      margin-left: auto;
      width: 463px;
    }
  }
  &__topic {
    margin-bottom: 35px;

    @include font-weight(500, 12px, 1.62);
    color: getColor('text-color');
    @media screen and (min-width: $tablet) {
      @include font-weight(500, 14px, 1.76);
    }
    @media screen and (min-width: $desktop) {
      @include font-weight(500, 16px, 1.76);
    }
  }
  &__description {
    margin-bottom: 9px;

    @include font-weight(500, 12px, 1.62);
    color: getColor('other-text-color');

    @media screen and (min-width: $tablet) {
      margin-bottom: 11px;

      @include font-weight(500, 14px, 1.76);
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 20px;

      @include font-weight(500, 14px, 1.94);
    }
  }
  &__description--short {
    margin-bottom: 22px;
    @media screen and (min-width: $tablet) {
      margin-bottom: 62px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 45px;
    }
  }
}
