.contact__section {
  background-color: getColor('primary-background-color');
  position: relative;
  padding-top: 1px;
  margin-top: 86px;
  @media screen and (min-width: $desktop) {
    background-image: linear-gradient(to bottom, rgba(255, 245, 246, 0.5), rgba(255, 245, 246, 1)),
      url('../images/desktop/overlay/overlay.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(255, 245, 246, 1);
  }
}
.contacts__background {
  display: none;
  @media screen and (min-width: $desktop) {
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    display: block;
    height: 382px;
    width: 1920px;
    left: -327px;
    right: -313px;
  }
}

.contacts__container {
  width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (min-width: $tablet) {
    width: 768px;
    padding-left: 36px;
    padding-right: 36px;
  }
  @media screen and (min-width: $desktop) {
    width: 1280px;
    padding-left: 115px;
    padding-right: 115px;
  }
}
.contacts__list {
  margin-top: -84px;
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;
  }
  @media screen and (min-width: $desktop) {
    margin-right: -30px;
  }
}

.contacts__box {
  background: getColor('white-color');
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  margin-bottom: 20px;
  padding: 50px 20px 36px 21px;
  width: 220px;
  width: 100%;
  &:last-child {
    margin-bottom: 0;
  }
  @media screen and (min-width: $tablet) {
    width: 220px;
    margin-right: 20px;
    margin-bottom: 0px;
    &:last-child {
      margin-right: 0;
    }
  }
  @media screen and (min-width: $desktop) {
    padding: 51px 44px 62px 43px;
    width: 330px;
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.contacts__title {
  @include font(500, 12px, 1.833, 0.04em);
  text-transform: uppercase;
  text-align: center;
  color: getColor('white-color');
  background: getColor('other-background-color2');
  width: 80px;
  border-radius: 4px;
  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 1.875;
  }
}

.contacts__title--foodtruck {
  background: getColor('other-background-color3');
  width: 130px;
}

.contacts__city {
  @include font(500, 12px, 1.833, 0.04em);
  text-align: left;
  color: getColor('text-color');
  margin-bottom: 10px;
  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 1.875;
  }
}
.contacts__text {
  @include font(500, 12px, 1.5, 0em);
  text-align: left;
  color: getColor('other-text-color');

  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 1.812;
  }
}
.contacts__days {
  @include font(500, 12px, 1.833, 0em);
  text-align: left;
  color: getColor('text-color');
  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.04em;
  }
}
.contacts__hours {
  color: getColor('secondary-text-color');
}
.contacts__connect {
  padding-top: 25px;
  @media screen and (min-width: $tablet) {
    padding-top: 30px;
  }
}

.contacts__link {
  font-family: DM Sans;
  @include font(500, 12px, 1.5, 0em);
  text-decoration: none;
  text-align: left;
  color: getColor('other-text-color');
  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 29px;
  }
}

.contacts__dash {
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
  @media screen and (min-width: $tablet) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  &:after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e1e1e1;
    bottom: 0;
  }
}

.contact__button {
  font-family: DM Sans;
  @include font(700, 16px, 1.31, 0em);
  text-align: center;
  text-decoration: none;
  outline: none;
  @include dis-jc(flex, center, center);
  flex-direction: column;
  padding-top: 54px;
  padding-bottom: 113px;
  cursor: pointer;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 81px;
    padding-bottom: 165px;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 86px;
    padding-bottom: 165px;
  }
}

.contact__button--location {
  color: getColor('white-color');
  background-color: getColor('accent-text-color');
  border-radius: 22px;
  margin-bottom: 10px;
  font-weight: 700;
  width: 161px;
  height: 44px;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: inherit;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: $tablet) {
    width: 198px;
    margin-right: 15px;
    margin-bottom: 0;
  }
  &:hover,
  &:focus,
  &:active {
    background-color: #d41342;
    cursor: pointer;
  }
  & .contact__button--icon {
    stroke: currentColor;
  }
}

.contact__button--lang {
  color: #d41342;
  background-color: getColor('white-color');
  border-radius: 22px;
  font-weight: 700;
  width: 161px;
  height: 44px;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: inherit;
  // padding-top: 13px;
  // padding-bottom: 13px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: $tablet) {
    width: 198px;
  }
  &:hover,
  &:focus,
  &:active {
    background-color: getColor('btn-hover');
    cursor: pointer;
  }

  & .contact__button--icon {
    stroke: currentColor;
  }
}
.contact__button--icon {
  margin-left: 5px;
}
