.footer{
    background-color: getColor('primary-background-color');
}
.footer-title{
    font-family: Titan One;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
}
.footer-title__first{
    @include font-line(18px, 1.166);
    color: getColor('secondary-text-color');
    margin-bottom: 17px;
}
.footer-title__second{
    @include font-letter(34px, 1.147, 0.04em);
    color: getColor('accent-text-color');
    margin-bottom: 43px;
}
.footer-nav__socials{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 46px;
}
.social-icon{
    fill: getColor('secondary-text-color');
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: 28px;

}
.social-icon:hover,
.social-icon:focus{
    fill: getColor('accent-text-color');
}
.footer-nav__phone{
    @include font-weight(700, 12px, 1.833);
    text-align: right;
    margin-bottom: 43px;
}
.phone-link{
    color: getColor('accent-text-color');
}
.footer__copyright{
    @include font-weight(700, 14px, 1.5);
    text-align: center;
    color: getColor('other-text-color');
    padding-top: 22px;
    padding-bottom: 25px;
    border-top: 1px solid #E1E1E1;
}
@media screen and (max-width:$tablet){
    .footer{
        .container{
            width: 320px;
        }
    }
}
@media screen and (min-width:$tablet){
    .footer{
        .container{
            display: flex;
            justify-content: space-between;
            width: 768px;
        }
    }
    .footer-title__first{
        @include font-letter(26px, 1.153, 0.04em);
    }
    .footer-title__second{
        @include font-letter(48px, 1.145, 0.06em);
        margin-bottom: 91px;
    }
    .social-icon{
        width: 34px;
        height: 34px;
        margin-left: 30px;
    }
    .footer-nav__phone{
        @include font-line(14px, 1.857);
    }
    .footer__copyright--indent{
        display: none;
    }
    .footer__copyright{
        @include font-letter(14px, 1.857, 0.02em);
        padding-bottom: 18px;
    }
}
@media screen and (min-width:$desktop){
    .footer{
        .container{
            display: flex;
            justify-content: space-between;
            width: 1280px;
            padding-left: 114px;
            padding-right: 121px;
        }
    }
    .footer-title__first{
        @include font-letter(30px, 1.133, 0.04em); 
    }
    .footer-title__second{
        @include font-letter(58px, 1.137, 0.06em);
        margin-bottom: 97px;
    }
    .footer-title__indent{
        display: none;
    }
    .footer-nav__phone{
        @include font-letter(16px, 1.875, 0.02em);
    }
    .footer__copyright{
        padding-top: 9px;
        padding-bottom: 10px;
        @include font-letter(14px, 1.875, 0.02em);

    }
}