.gallery {
  background-image: linear-gradient(
    getColor('primary-background-color') 40%,
    getColor('white-color') 40%,
    getColor('white-color') 60%
  );
  &__list {
    display: flex;
    justify-content: center;
  }
  &__item {
    display: flex;
    flex-direction: column;
  }
  &__item--first {
    justify-content: center;
  }
  &__item--second {
    justify-content: flex-start;
    padding-top: 25px;
    @media screen and (min-width: $tablet) {
      padding-top: 54px;
    }
    @media screen and (min-width: $desktop) {
      padding-top: 87px;
    }
  }
  &__item--third {
    justify-content: flex-start;
  }
  &__item--fourth {
    justify-content: flex-start;
    padding-top: 29px;
    @media screen and (min-width: $tablet) {
      padding-top: 61px;
    }
    @media screen and (min-width: $desktop) {
      padding-top: 100px;
    }
  }
  &__item--fifth {
    justify-content: flex-start;
    padding-top: 15px;
    @media screen and (min-width: $tablet) {
      padding-top: 33px;
    }
    @media screen and (min-width: $desktop) {
      padding-top: 52px;
    }
  }
  &__img {
    border-radius: 4px;
    overflow: hidden;
    margin: 1px;
    @media screen and (min-width: $tablet) {
      margin: 2px;
    }
    @media screen and (min-width: $desktop) {
      margin: 4px;
    }
  }
  &__img:hover,
  &__img:focus {
    animation: flip;
    animation-duration: 2s;
  }
}
