.gallery {
  background-image: linear-gradient(
    getColor('primaryBackgroundColor') 50%,
    getColor('whiteColor') 50%
  );
  &__list {
    display: flex;
    justify-content: center;
  }
  &__item {
    display: flex;
    flex-direction: column;
  }
  &__item--center {
    justify-content: center;
  }
  &__item--second {
    justify-content: flex-start;
    padding-top: 25px;
  }

  &__img {
    margin: 1px;
  }
}
