.gallery {
  height: 129px;

  background-image: linear-gradient(
    getColor('primaryBackgroundColor') 50%,
    getColor('whiteColor') 50%
  );
  @media screen and (min-width: $tablet) {
    height: 264px;
  }
  @media screen and (min-width: $desktop) {
    height: 430px;
  }
  &__container {
    position: relative;
  }
  &__list {
  }
  &__item {
  }

  &__img--first {
    top: 40px;
    left: 75px;
    @media screen and (min-width: $tablet) {
      top: 87px;
      left: 74px;
    }
    @media screen and (min-width: $desktop) {
      top: 40px;
      left: 21px;
    }
  }
  &__img--second {
    top: 24px;
    left: 62px;
    @media screen and (min-width: $tablet) {
      top: 54px;
      left: 163px;
    }
    @media screen and (min-width: $desktop) {
      top: 40px;
      left: 21px;
    }
  }
  &__img--third {
    top: 66px;
    left: 62px;
    @media screen and (min-width: $tablet) {
      top: 143px;
      left: 163px;
    }
    @media screen and (min-width: $desktop) {
      top: 40px;
      left: 21px;
    }
  }
  &__img--fourth {
    top: 0px;
    left: 103px;
    @media screen and (min-width: $tablet) {
      top: 0px;
      left: 252px;
    }
    @media screen and (min-width: $desktop) {
      top: 0px;
      left: 0px;
    }
  }
  &__img--fifth {
    top: 82px;
    left: 103px;
    @media screen and (min-width: $tablet) {
      top: 178px;
      left: 252px;
    }
    @media screen and (min-width: $desktop) {
      top: 61px;
      left: 21px;
    }
  }
  &__img--sixht {
    top: 28px;
    left: 185px;
    @media screen and (min-width: $tablet) {
      top: 61px;
      left: 430px;
    }
    @media screen and (min-width: $desktop) {
      top: 33px;
      left: 21px;
    }
  }
  &__img--seventh {
    top: 69px;
    left: 185px;
    @media screen and (min-width: $tablet) {
      top: 150px;
      left: 430px;
    }
    @media screen and (min-width: $desktop) {
      top: 40px;
      left: 21px;
    }
  }
  &__img--eighth {
    top: 15px;
    left: 226px;
    @media screen and (min-width: $tablet) {
      top: 33px;
      left: 519px;
    }
    @media screen and (min-width: $desktop) {
      top: 92px;
      left: 21px;
    }
  }
  &__img--ninth {
    top: 56px;
    left: 226px;
    @media screen and (min-width: $tablet) {
      top: 122px;
      left: 519px;
    }
    @media screen and (min-width: $desktop) {
      top: 40px;
      left: 21px;
    }
  }
  &__img--tenth {
    top: 40px;
    left: 267px;
    @media screen and (min-width: $tablet) {
      top: 87px;
      left: 608px;
    }
    @media screen and (min-width: $desktop) {
      top: 40px;
      left: 21px;
    }
  }
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    overflow: hidden;
    margin: 1px;
  }
  &__img:hover,
  &__img:focus {
    transform: rotate(10deg);
    box-shadow: 0px 3px 5px getColor('accentTextColor'), 0px 2px 1px getColor('textColor');
    transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
