.container-wraper {
  max-width: 1200px;
  padding-top: 6px;
  padding-left: 0;
  padding-right: 0;
  height: 100%;
  @media screen and (min-width: 768px) {
    padding-top: 37px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 0;
    padding-right: 0;
  }
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  &__menu {
    @include dis-jc(flex, center, space-between);
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
  }
  &__logo {
    margin-right: auto;
    margin-left: 20px;
    @media screen and (min-width: 768px) {
      margin-left: 34px;
    }
    @media screen and (min-width: 1280px) {
      margin-right: 0;
      margin-left: 46px;
    }
  }
  &__button--open-menu {
    margin-right: 20px;
    border: none;
    background: transparent;
    padding: 0;
    @media screen and (min-width: 768px) {
      margin-right: 30px;
    }
    @media screen and (min-width: 1280px) {
      display: none;
    }
  }
  &__button-buy {
    @include dis-al(flex, center);
    // display: flex;
    // align-items: center;
    padding: 12px 37px;
    border: none;
    border-radius: 22px;
    color: getColor('accentTextColor');
    background: getColor('primaryTextColor');
    @include font-weight(700, 16px, 1.31);
    // font-weight: 700;
    // font-size: 16px;
    // line-height: 1.31;
    @media screen and (min-width: 1280px) {
      margin-right: 115px;
    }
    &:hover,
    &:focus {
      background-color: #e5e5e5;
    }
  }
  &__icon {
    margin-left: 12px;
  }
  &__list-desk {
    display: none;

    @media screen and (min-width: 1280px) {
      @include dis-al(flex, center);
      // display: flex;
      // align-items: center;
      flex-direction: row;
    }
  }
  &__item-desk {
    display: none;
    @media screen and (min-width: 1200px) {
      display: block;
      &:not(:last-child) {
        margin-right: 35px;
      }
    }
  }
  &__link-desk {
    font-family: DM Sans, sans-serif;
    @include font-weight(700, 16px, 1.31);
    // font-weight: 700;
    // font-size: 16px;
    // line-height: 21px;
    text-decoration: none;
    color: getColor('primaryTextColor');
    transition: color 250ms linear;
    &:hover,
    &:focus {
      color: getColor('accentTextColor');
    }
  }
}

.buttonBuyHeader {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
