.hero {
  background: #ffb8ca;
  height: 502px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    height: 399px;
  }
  @media screen and (min-width: 1280px) {
    height: 665px;
  }
  &__ice {
    position: absolute;
    width: 171px;
    height: 410px;
    margin-left: 117px;
    margin-top: 92px;
    margin-right: 32px;
    z-index: 2;
    @media screen and (min-width: 768px) {
      width: 143px;
      height: 336px;
      margin-left: 340px;
      margin-top: 63px;
    }
    @media screen and (min-width: 1280px) {
      width: 236px;
      height: 557px;
      margin-left: 482px;
      margin-top: 108px;
    }
  }
  &__ellipse {
    width: 346px;
    height: 344px;
    position: absolute;
    margin-bottom: 75px;
    margin-top: 83px;
    margin-left: 36px;
    @media screen and (min-width: 768px) {
      width: 324px;
      height: 322px;
      margin-bottom: 31px;
      margin-right: 137px;
      margin-top: 46px;
      margin-left: 273px;
    }
    @media screen and (min-width: 1280px) {
      width: 538px;
      height: 538px;
      margin-bottom: 52px;
      margin-right: 267px;
      margin-top: 75px;
      margin-left: 363px;
    }
  }
  &__girl {
    @media screen and (max-width: 767px) {
      display: none;
    }
    width: 168px;
    height: 133px;
    position: absolute;
    margin-top: 266px;
    margin-left: 532px;
    z-index: 6;
    @media screen and (min-width: 1280px) {
      width: 293px;
      height: 232px;
      margin-top: 433px;
      margin-left: 766px;
    }
  }
  &__milk {
    @media screen and (max-width: 767px) {
      display: none;
    }
    position: absolute;
    width: 124px;
    margin-top: 245px;
    @media screen and (min-width: 1280px) {
      width: 188px;
      margin-top: 429px;
      margin-left: -35px;
    }
  }
  &__title {
    position: relative;
    padding-top: 193px;
    font-family: Titan One;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.54;
    letter-spacing: 0.04em;
    color: #fff;
    z-index: 5;
    @media screen and (min-width: 768px) {
      padding-top: 102px;
      font-size: 22px;
      line-height: 1.136;
    }
    @media screen and (min-width: 1280px) {
      padding-top: 171px;
      font-size: 38px;
      line-height: 1.158;
    }
  }

  &__span-title {
    font-size: 48px;
    line-height: 0.965;
    color: #d41443;
  }
  &__list {
    display: flex;
    margin-top: 19px;
    position: relative;
    z-index: 5;
    @media screen and (min-width: 768px) {
      margin-top: 20px;
    }
    @media screen and (min-width: 1280px) {
      margin-top: 25px;
    }
  }
  &__link {
    min-width: 63px;
    min-height: 24px;
    display: block;
    text-align: center;
    align-items: center;
    font-family: DM Sans, sans-serif;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    color: #fff;
    background-color: #d41443;
    border: none;
    border-radius: 20px;
    padding: 7px 15px;
    margin-right: 8px;
    @media screen and (min-width: 1280px) {
      min-width: 104px;
      min-height: 40px;
      margin-right: 15px;
      padding: 11px 22px;
      font-size: 14px;
      line-height: 1.27;
    }
    &:hover,
    &:focus {
      color: #d41443;
      background-color: #fff;
    }
  }
  &__link--made {
    min-width: 83px;
    color: #d41443;
    background-color: #fff;
    @media screen and (min-width: 1280px) {
      min-width: 138px;
    }
    &:hover,
    &:focus {
      color: #fff;
      background-color: #d41443;
    }
  }
  &__text {
    @media screen and (max-width: 767px) {
      display: none;
    }
    width: 124px;
    margin-top: 66px;
    margin-left: 120px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;
    color: #ffffff;
    @media screen and (min-width: 1280px) {
      width: 200px;
      font-weight: 400;
      margin-top: 112px;
      margin-left: 183px;
      font-size: 14px;
      line-height: 1.42;
    }
  }
  &__icon {
    @media screen and (max-width: 767px) {
      display: none;
    }
    width: 18px;
    height: 18px;
    margin-top: 7px;
    margin-left: 120px;
    @media screen and (min-width: 1280px) {
      width: 20px;
      height: 20px;
      margin-top: 20px;
      margin-left: 183px;
    }
  }
  &__number {
    @media screen and (max-width: 767px) {
      display: none;
    }
    margin-top: 94px;
    margin-left: 649px;
    position: absolute;
    display: block;
    text-align: end;
    @media screen and (min-width: 1280px) {
      margin-top: 156px;
      margin-left: 979px;
    }
  }
}

.hero-number {
  &__item::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    margin-right: -10px;
    background: #fff;
    border-radius: 50%;
    right: 0;
    @media screen and (min-width: 1280px) {
      width: 30px;
      height: 30px;
      margin-right: -18px;
    }
  }
  &__text {
    position: relative;
    font-family: Titan One;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
    @media screen and (min-width: 1280px) {
      font-size: 46px;
      line-height: 1.15;
    }
  }
  &__subtext {
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;

    color: #fff;
    @media screen and (min-width: 1280px) {
      font-size: 14px;
      line-height: 1.28;
    }
  }
}
