.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20;
  background: getColor('otherBackgroundColor1');
  padding-top: 60px;
  padding-bottom: 171px;
  width: 250px;
  opacity: 1;
  transition: opacity 250ms linear;
  @media screen and (min-width: 768px) {
    width: 254px;
    right: 0;
    padding-top: 60px;
    padding-bottom: 689px;
  }
  @media screen and (min-width: 1280px) {
    display: none;
  }
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  &__btnClose {
    position: absolute;
    top: 23px;
    right: 23px;
    border: none;
    background: transparent;
    @media screen and (min-width: 768px) {
      top: 23px;
      right: 34px;
    }
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    border-top: 1px solid #e18298;
    &:last-child {
      border-bottom: 1px solid #e18298;
    }
    @media screen and (min-width: 768px) {
      width: 100%;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 24px;
      border-top: 1px solid #e18298;
      &:last-child {
        border-bottom: 1px solid #e18298;
      }
    }
  }
  &__link {
    font-family: DM Sans, sans-serif;
    @include font-weight(700, 14px, 1.29);
    text-decoration: none;
    color: getColor('primaryTextColor');
    transition: color 250ms linear;
    &:hover,
    &:focus {
      color: getColor('accentTextColor');
    }
  }
}

.buttonBuyMenu {
  margin-left: 34px;
  margin-bottom: 19px;
  padding: 11px 53px;
}
