// Секция Products
.products {
  padding-top: 121px;
  padding-bottom: 98px;

  @media screen and (min-width: $tablet) {
    padding-top: 122px;
    padding-bottom: 112px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 127px;
    padding-bottom: 119px;
  }
  margin-left: auto;
  margin-right: auto;
}
.container__section-pretitle,
.container__section-title {
  text-align: center;
  text-transform: uppercase;
  font-family: Titan One;
}
.container__section-pretitle {
  color: getColor('secondaryTextColor');
  @include font-line(18px, 1.167);
  @media screen and (min-width: $tablet) {
    @include font-line(26px, 1.153);
  }
  @media screen and (min-width: $desktop) {
    @include font-line(30px, 1.133);
  }
}
.container__section-title {
  color: getColor('accentTextColor');
  @include font-letter(34px, 1.147, 0.04em);
  @media screen and (min-width: $tablet) {
    @include font-letter(48px, 1.145, 0.04em);
  }
  @media screen and (min-width: $desktop) {
    @include font-letter(58px, 1.138, 0.06em);
  }
}
