// Секция Products
.products {
  padding-top: 121px;
  padding-bottom: 98px;

  @media screen and (min-width: $tablet) {
    padding-top: 122px;
    padding-bottom: 112px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 127px;
    padding-bottom: 119px;
  }
  margin-left: auto;
  margin-right: auto;
}
.container__section-title--products {
  margin-bottom: 144px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 150px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 259px;
  }
}
.products-list {
  margin-bottom: -130px;

  text-align: center;
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    margin-right: -20px;
  }
  @media screen and (min-width: $desktop) {
    margin-right: -24px;
  }
}

.products-list__item {
  position: relative;
  margin-bottom: 130px;

  margin-left: auto;
  margin-right: auto;
  background-color: getColor('accent-background-color');
  border-radius: 24px;
  width: 280px;
  height: 485px;

  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 60px) / 3);
    margin-right: 20px;
  }
  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 72px) / 3);
    margin-right: 24px;
    height: 525px;
  }
  &:nth-child(2) {
    background-color: getColor('other-background-color2');
  }
  &:nth-child(3) {
    background-color: getColor('other-background-color3');
  }
}

.products-list__item::before {
  content: '';
  display: block;
  width: 249px;
  height: 252px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  position: absolute;
  top: -113px;
  left: 50%;
  transform: translateX(-50%);
  @media screen and (min-width: $tablet) {
    width: 220px;
    height: 233px;
    top: -111px;
  }
  @media screen and (min-width: $desktop) {
    width: 335px;
    height: 335px;
    top: -210px;
  }
}
.products-list__item:nth-child(1)::before {
  background-image: url(./../images/mobile/products/ice-cream.png);
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(./../images/mobile/products/ice-cream-x2.png);
  }
  @media screen and (min-width: $tablet) {
    background-image: url(./../images/tablet/products/ice-cream.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(./../images/tablet/products/ice-cream-x2.png);
    }
  }
  @media screen and (min-width: $desktop) {
    background-image: url(./../images/desktop/products/ice-cream.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(./../images/desktop/products/ice-cream-x2.png);
    }
  }
}

.products-list__item:nth-child(2)::before {
  background-image: url(./../images/mobile/products/ice-coffee.png);
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(./../images/mobile/products/ice-coffee-x2.png);
  }
  @media screen and (min-width: $tablet) {
    background-image: url(./../images/tablet/products/ice-coffee.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(./../images/tablet/products/ice-coffee-x2.png);
    }
  }
  @media screen and (min-width: $desktop) {
    background-image: url(./../images/desktop/products/ice-coffee.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(./../images/desktop/products/ice-coffee-x2.png);
    }
  }
}
.products-list__item:nth-child(3)::before {
  background-image: url(./../images/mobile/products/milkshakes.png);
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(./../images/mobile/products/milkshakes-x2.png);
  }
  @media screen and (min-width: $tablet) {
    background-image: url(./../images/tablet/products/milkshakes.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(./../images/tablet/products/milkshakes-x2.png);
    }
  }
  @media screen and (min-width: $desktop) {
    background-image: url(./../images/desktop/products/milkshakes.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(./../images/desktop/products/milkshakes-x2.png);
    }
  }
}
.products-list__item-thumb {
  position: absolute;
  top: 161px;
  @media screen and (min-width: $tablet) {
    top: 152px;
  }
  @media screen and (min-width: $desktop) {
    top: 163px;
  }
}
.products-list__card-title {
  margin-bottom: 66px;
  text-transform: uppercase;
  font-family: Titan One;
  text-align: center;

  color: getColor('primary-text-color');
  @include font-letter(20px, 1.15, 0.04em);

  @media screen and (min-width: $tablet) {
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 70px;
    @include font-letter(30px, 1.133, 0.04em);
  }

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;

    background-image: url(./../images/icons/dots-product-icon.svg);
    width: 26px;
    height: 6px;
    margin-top: 30px;
    @media screen and (min-width: $desktop) {
      margin-top: 32px;
    }
  }
}

.products-list__text {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;

  color: getColor('primary-text-color');
  @include font(700, 14px, 1.52, 0.04em);
  @media screen and (min-width: $tablet) {
    margin-bottom: 40px;
    padding-left: 11px;
    padding-right: 11px;
    @include font(700, 14px, 1.76, 0.04em);
    height: 124px;
    overflow: hidden;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 62px;
    padding-left: 44px;
    padding-right: 44px;
    @include font(700, 16px, 1.76, 0.04em);
    height: 106px;
  }
}
.products-list__button {
  width: 40px;
  height: 40px;
}
