// Секция Products
.products {
  padding-top: 121px;
  padding-bottom: 98px;

  @media screen and (min-width: $tablet) {
    padding-top: 122px;
    padding-bottom: 112px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 127px;
    padding-bottom: 119px;
  }
  margin-left: auto;
  margin-right: auto;
}
.container__section-title--products {
  margin-bottom: 144px;
}
.products-list {
  margin-bottom: -130px;

  text-align: center;
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.products-list__item {
  position: relative;
  margin-bottom: 130px;

  margin-left: auto;
  margin-right: auto;
  background-color: getColor('accentBackgroundColor');
  border-radius: 24px;
  width: 280px;
  height: 485px;
  // bcg media
  // text-align: center;
  // @media screen and (min-width: $tablet) {
  //   width: 220px;
  //   flex-basis: calc((100% - 60px) / 3);
  //   margin-right: 20px;
  // }
  // @media screen and (min-width: $desktop) {
  //   width: 330px;
  //   height: 525px;
  // }
}
.products-list__item:nth-child(1) {
  background-color: getColor('accentBackgroundColor');
}
.products-list__item:nth-child(2) {
  background-color: getColor('otherBackgroundColor2');
}
.products-list__item:nth-child(3) {
  background-color: getColor('otherBackgroundColor3');
}
.products-list__item::before {
  content: '';
  display: block;
  width: 249px;
  height: 252px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // background-position: top -113px;

  background-image: url(./../images/mobile/products/ice-cream.png);

  outline: 1px solid black;
  position: absolute;
  top: -113px;
  left: 50%;
  transform: translateX(-50%);
  // @media screen and (min-width: $tablet) {
  //   width: 2209px;
  //   height: 233px;
  //   top: -111px;
  //   left: 0;
  // }
}
.products-list__item:nth-child(2)::before {
  background-image: url(./../images/mobile/products/ice-coffee.png);
}
.products-list__item:nth-child(3)::before {
  background-image: url(./../images/mobile/products/milkshakes.png);
}
.products-list__item-thumb {
  position: absolute;
  top: 161px;
  @media screen and (min-width: $tablet) {
    top: 152px;
  }
  @media screen and (min-width: $desktop) {
    top: 163px;
  }
}
.products-list__card-title {
  margin-bottom: 66px;
  text-transform: uppercase;
  font-family: Titan One;
  text-align: center;

  color: getColor('primaryTextColor');
  @include font-letter(20px, 1.15, 0.04em);

  @media screen and (min-width: $tablet) {
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 70px;
    @include font-letter(30px, 1.133, 0.04em);
  }
}
.products-list__card-title::after {
  content: '';
  // position: absolute;
  display: block;
  width: 26px;
  height: 6px;
  background-image: url(./../images/icons/dots.svg);
  // top: 214px;

  outline: 1px solid black;
}

.products-list__text {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  // width: 200px;

  color: getColor('primaryTextColor');
  @include font(700, 14px, 1.52, 0.04em);
  @media screen and (min-width: $tablet) {
    margin-bottom: 40px;
    // width: 198px;
    @include font(700, 14px, 1.76, 0.04em);
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 62px;
    // width: 241px;
    @include font(700, 16px, 1.76, 0.04em);
  }
}
.products-list__button {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
