// Секция Products
.products {
  padding-top: 121px;
  padding-bottom: 98px;

  @media screen and (min-width: $tablet) {
    padding-top: 122px;
    padding-bottom: 112px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 127px;
    padding-bottom: 119px;
  }
  margin-left: auto;
  margin-right: auto;
}

.products-list {
  margin-bottom: -17px;
  text-align: center;
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}
.products-list__item {
  position: relative;
  margin-bottom: 17px;
  margin-left: auto;
  margin-right: auto;

  background-color: getColor('accentBackgroundColor');
  border-radius: 24px;
  width: 280px;
  height: 485px;
  //   text-align: center;
  @media screen and (min-width: $tablet) {
    width: 220px;
    flex-basis: calc((100% - 60px) / 3);
    margin-right: 20px;
  }
  @media screen and (min-width: $desktop) {
    width: 330px;
    height: 525px;
  }
}
.products-list__item-thumb {
  position: absolute;
  top: 161px;
  @media screen and (min-width: $tablet) {
    top: 152px;
  }
  @media screen and (min-width: $desktop) {
    top: 163px;
  }
}
.products-list__card-title {
  margin-bottom: 66px;
  text-transform: uppercase;
  font-family: Titan One;

  color: getColor('primaryTextColor');
  @include font-letter(20px, 1.15, 0.04em);

  //   @media screen and (min-width: $tablet) {
  //   }
  @media screen and (min-width: $desktop) {
    margin-bottom: 70px;
    @include font-letter(30px, 1.133, 0.04em);
  }
}
.products-list__card-title::after {
  content: '';
  position: absolute;
  //   top: 214px;
}
.products-list__text {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;

  color: getColor('primaryTextColor');
  @include font(700, 14px, 1.52, 0.04em);
  @media screen and (min-width: $tablet) {
    margin-bottom: 40px;
    width: 198px;
    @include font(700, 14px, 1.76, 0.04em);
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 62px;
    width: 241px;
    @include font(700, 16px, 1.76, 0.04em);
  }
}
.products-list__button {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
