.customer-reviews{
    @include dis-jc(flex, center, center);
    flex-direction: column;
    padding-bottom: 86px;
    padding-top: 80px;
    .container{
        position: relative; 
        width: 320px;
    }
}
.slider{
    display: flex;
    overflow: hidden;
    margin-bottom: 42px;
}

.slides{
    width: 300%;
    height: 100%;
    display: flex;
}

.slide{
    @include dis-al(flex, center);
    flex-direction: column;
    text-align: center;
    transition: all .6s ease; 
    position: relative;
}
.slide::after{
    content: '';
    background-image: url(../images/icons/dots-slider-icon.svg);
    width: 32px;
    height: 4px;
    position: absolute;
    bottom: 43px;
}
.slide__comment{
    background-color: #FAFAFA;
    padding-top: 43px;
    padding-bottom: 30px;
    margin-bottom: 52px;
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
}
.slide__comment::before{
    content: '';
    background-image: url(../images/icons/quote-icon.svg);
    width: 54px;
    height: 40px;
    position: absolute;
    top:32px;
    left:50px;
}
.slide__gradient{
    background-image: repeating-linear-gradient(transparent  0.1px 27px, #E1E1E1 27px 28px,
    transparent  28px 59px,#E1E1E1 59px 60px);
    padding-left: 19px;
    padding-right: 20px;
    width: 180px;
}

.slide__text{
    @include font-weight(500, 12px, 2.583);
    text-align: center;
    position: relative;
}
.slide__photo{
    width: 85px;
    margin-bottom: 29px;
}
.slide__dots{
    width: 32px;
    height: 4px;
    margin-bottom: 25px;
}
.slide__name{
    @include font-weight(500, 14px, 1.857);
    text-align: center;
}
.dot{
    height: 14px;
    width: 14px;
    cursor: pointer;
    @include dis-jc(flex, center, center);
}
.dot:hover,
.dot:focus{
    transform: scale(1.2);
}
.slider__input{
    position: absolute;
    display: none;
    visibility: hidden;
}
.slider__switch{
    display: flex;
    width: 73px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

#r1:checked ~ .s1 {
    margin-right: 0%;    
}
#r2:checked ~ .s1 {
    margin-left: -280px;
}
#r3:checked ~ .s1 {
    margin-left: -560px;
}
#r1:checked ~ .slider__switch .ellipse-1 {
    display: none;
}   
#r1:checked ~ .slider__switch .home-2{
    display: none;
}   
#r1:checked ~ .slider__switch .home-3{
    display: none;
}  
#r2:checked ~ .slider__switch .home-1 {
    display: none;
}   
#r2:checked ~ .slider__switch .home-3 {
    display: none;
}   
#r2:checked ~ .slider__switch .ellipse-2 {
    display: none;
}   
#r3:checked ~ .slider__switch .home-1 {
    display: none;
}   
#r3:checked ~ .slider__switch .home-2 {
    display: none;
}   
#r3:checked ~ .slider__switch .ellipse-3 {
    display: none;
}   

@media screen and (min-width:$tablet) {
    .customer-reviews{
        .container{
            padding-left: 0;
            padding-right: 0;
            width: 620px;
        }
    }
    .slider{
        margin-bottom: 47px;
    }
    .slide::after{
        bottom: 39px;
    }
    .slide__comment{
        width: 620px; 
        padding-top: 47px;
        margin-bottom: 42px;
        padding-left: 60px;
        padding-right: 36px;
    }
    .slide__photo{
        margin-bottom: 19px;
    }
    .slide__text{
        @include font-letter(14px, 2.142, 0.04em);
    }
    .slide__dots{
        margin-bottom: 22px;
    }
    .slide__name{
        @include font-line(16px, 1.625);
    }
    .slide__gradient{
        background-image: repeating-linear-gradient(transparent  0.1px 27px, #E1E1E1 27px 28px,
        transparent  28px 58px,#E1E1E1 58px 59px);
        padding-left: 19px;
        padding-right: 20px;
        width: 524px;
    }
    #r1:checked ~ .s1 {
        margin-right: 0%;    
    }
    #r2:checked ~ .s1 {
        margin-left: -620px;
    }
    #r3:checked ~ .s1 {
        margin-left: -1240px;
    }
    
}

@media screen and (min-width:$desktop){
    .customer-reviews{
        padding-top: 123px;
        padding-bottom: 132px;
        .container{
            padding-left: 0;
            padding-right: 0;
            width: 926px;
        }
    }
    .slide::after{
        bottom: 46px;
    }
    .slide__comment{
        width: 926px; 
        padding-top: 47px;
        margin-bottom: 34px;
        padding-left: 59px;
        padding-right: 54px;
    }
    .slide__gradient{
        width: 813px;
        height: 60px;
        padding-left: 29px;
        padding-right: 33px;
    }
    .slide__text{   
        @include font-letter(16px, 1.875, 0.04em);
    }
    .slide__dots{
        margin-bottom: 25px;
    }
    .slide__name{
        @include font-line(20px, 1.85);
    }
    
    #r1:checked ~ .s1 {
        margin-right: 0%; 
    } 
    #r2:checked ~ .s1 {
        margin-left: -924px;
    }
    #r3:checked ~ .s1 {
        margin-left: -1848px;
    }
}